---
import MainLayout from "@/layouts/MainLayout.astro";

---

<MainLayout>
		<div class="bg-slate-600 p-8 text-slate-50 text-2xl text-center">
      <p class="bg-pink-300 p-4">Esta es la primera pantalla de mi aplicación renovada</p>
			
    </div>
	</MainLayout>